{% extends 'base.html' %}
{% block title %}Nueva Lesión{% endblock %}

{% block head %}
{% load static %}

{% endblock %}

{% block body %}
    <body>
      <br>
      <br>
      <div class="row d-flex justify-content-sm-center">
          <div class="col-s-12">
            <h2>Datos de la Lesión</h2>
          </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-start">
            <a class="btn btn-floating btn-small blue modal-trigger" href="{% url 'pacientes:perfil_paciente' paciente.id %}"
              title="Regresar">
              <i class="material-icons">undo</i></a>
          </div>

          <div class="col-md-6 d-flex justify-content-end">
            {% if lesion.estatus == True %}
              <a class="btn btn-floating btn-small blue modal-trigger" title="Terminar lesión"
                href="{% url 'lesiones:terminar_lesion' lesion.id %}" style="margin-right: .5rem !important;">
                <i class="material-icons">check_circle</i>
              </a>
              <a class="btn btn-floating btn-small blue modal-trigger" href="{% url 'lesiones:editar_lesion' id_lesion %}"
                style="margin-right: .5rem !important;" title="Editar lesión">
                <i class="material-icons">edit</i>
              </a>
            {% endif %}
            <a href="{% url 'lesiones:borrar_lesion' id_lesion %}" class="confirm-delete-lesion btn btn-floating btn-small red"
            title="Eliminar lesión" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{ lesion.id }}"
            name="{{ paciente.nombre }} {{ paciente.apellido_paterno }}?  LESIÓN: {{ lesion.lesion }} de {{ lesion.zona }}">
              <i class="material-icons">clear</i></a>
              {% include 'lesiones/confirma_borrarlesion_modal2.html' %}
          </div>
        </div>
      </div>

<!-- ------------------------------------------ DATOS LESION --------------------------------------------  -->

<div class="container" id="datos-perfil-lesion">
  <div class="row" id="primer">
      <div class="col" id="lesion-header-datos-left">
        <label for="Paciente" id="label-font-lesion">Paciente</label>
      </div>
      <div class="col-2" id="lesion-header-datos">
        <label for="Lesión" id="label-font-lesion">Lesión</label>
      </div>
      <div class="col-2" id="lesion-header-datos">
        <label for="Zona" id="label-font-lesion">Zona</label>
      </div>
      <div class="col" id="lesion-header-datos">
        <label for="Fisioterapeuta" id="label-font-lesion">Número de Sesiones</label>
      </div>
      <div class="col" id="lesion-header-datos-right">
        <label for="Fecha de Valoración" id="label-font-lesion">Fecha de Valoración</label>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <p class="font-weight-light">{{ paciente.nombre }} {{ paciente.apellido_paterno }} {{ paciente.apellido_materno }}</p>
        </div>
        <div class="col-2">
          <p class="font-weight-light">{{ lesion.lesion }}</p>
        </div>
        <div class="col-2">
          <p class="font-weight-light">{{ lesion.zona }}</p>
        </div>
        <div class="col">
          <p class="font-weight-light">{{ lesion.num_sesiones }}</p>
        </div>
        <div class="col">
          <p class="font-weight-light">{{ lesion.fecha_valoracion }}</p>
        </div>
      </div>

    <br>

    <div class="row">
      <div class="col-2" id="lesion-header-datos">
        <label for="Fisioterapeuta" id="label-font-lesion">Estatus</label>
      </div>
      <div class="col" id="lesion-header-datos">
        <label for="Fisioterapeuta" id="label-font-lesion">Fisioterapeuta</label>
      </div>
      <div class="col" id="lesion-header-datos">
        <label for="Editor" id="label-font-lesion">Editor</label>
      </div>
      <div class="col" id="lesion-header-datos">
        <label for="Fecha de Modificación" id="label-font-lesion">Fecha de Modificación</label>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <p class="font-weight-light">{% if lesion.estatus == True %} Activa {% else %} Terminada {% endif %}</p>
      </div>
      <div class="col">
        <p class="font-weight-light">{{ fisioterapeuta.nombre }} {{ fisioterapeuta.apellido_paterno }} {{ fisioterapeuta.apellido_materno }}</p>
      </div>
      <div class="col">
        <p class="font-weight-light">{{ usuario.nombre }} {{ usuario.apellido_paterno }} {{ usuario.apellido_materno }}</p>
      </div>
      <div class="col">
        <p class="font-weight-light">{{ lesion.fecha_modificacion }}</p>
      </div>
    </div>

    <br>

    <div class="row">
        <div class="col" id="lesion-header-datos">
          <label for="Motivo de Consulta" id="label-font-lesion">Motivo de Consulta</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p class="font-weight-light">{{ lesion.motivo }}</p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12" id="lesion-header-datos">
          <label for="Inspección" id="label-font-lesion">Inspección</label>
        </div>
        <div class="col-12">
          <p class="font-weight-light">{{ lesion.inspeccion }}</p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12" id="lesion-header-datos">
          <label for="Palpación" id="label-font-lesion">Palpación</label>
        </div>
        <div class="col-12">
          <p class="font-weight-light">{{ lesion.palpacion }}</p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12" id="lesion-header-datos">
          <label for="Goniometría" id="label-font-lesion">Goniometría</label>
        </div>
        <div class="col-12">
          <p class="font-weight-light">{{ lesion.goniometria }}</p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12" id="lesion-header-datos">
          <label for="Fuerza" id="label-font-lesion">Fuerza</label>
        </div>
        <div class="col-12">
          <p class="font-weight-light">{{ lesion.fuerza }}</p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12" id="lesion-header-datos">
          <label for="Pruebas Específicas" id="label-font-lesion">Pruebas Específicas</label>
        </div>
        <div class="col-12">
          <p class="font-weight-light">{{ lesion.pruebas_especificas }}</p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col" id="lesion-header-datos">
          <label for="objetivo a corto plazo" id="label-font-lesion">Objetivo a corto plazo</label>
        </div>
        <div class="col" id="lesion-header-datos">
          <label for="Objetivo a medio plazo" id="label-font-lesion">Objetivo a medio plazo</label>
        </div>
        <div class="col" id="lesion-header-datos">
          <label for="objetivo a largo plazo" id="label-font-lesion">Objetivo a largo plazo</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p class="font-weight-light">{{ lesion.objetivo_corto }}</p>
        </div>
        <div class="col">
          <p class="font-weight-light">{{ lesion.objetivo_medio }}</p>
        </div>
        <div class="col">
          <p class="font-weight-light">{{ lesion.objetivo_largo }}</p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12" id="lesion-header-datos">
          <label for="Plan de Tratamiento" id="label-font-lesion">Plan de Tratamiento</label>
        </div>
        <div class="col-12">
          <p class="font-weight-light">{{ lesion.plan_tratamiento }}</p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12" id="lesion-header-datos">
          <label for="Observaciones" id="label-font-lesion">Observaciones</label>
        </div>
        <div class="col-12">
          <p class="font-weight-light">{{ lesion.observaciones }}</p>
        </div>
    </div>

  </div>
  <br>
  <br>
  <br>


{% endblock %}
