<input type="hidden" id="cantidad" name="cantidad" value="1"><br />
<div class="row" id="row-antecedentes">
  <div class="col" id="col-antecedentes">
    <label for="Nombre de Antecedente" id="label-font">Nombre de Antecedente</label>
    <input class="form-control" type="text" name="nombre0" value="" placeholder="Nombre del antecedente" id="plantilla-antecedentes">
  </div>
  <div class="col" id="col-antecedentes">
    <label for="Tipo de Antecedente" id="label-font">Tipo de Antecedente</label>
    <select name="tipo0" class="form-control" id="choice-antecedentes">
      <option disabled selected value>Elige una opción...</option>
      <option value="HF">Heredofamiliares</option>
      <option value="PP">Personales Patológicos</option>
      <option value="NP">Personales No Patológicos</option>
    </select>
  </div>
  <div class="col" id="col-antecedentes">
    <label for="Descripción" id="label-font">Descripción</label>
    <textarea name="descripcion0" class="form-control" rows="3" id="plantilla-textarea" placeholder="Descripción del antecedente"></textarea>
  </div>
  <br>
</div>
