<!--Delete button will redirect to the href of the element with 'id = caller-id' property in this modal-->
<div class="modal fade" id="confirmDeleteModal2" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" style="padding-right: inherit !important;">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body confirm-delete" id="modal_elemina_antecedentes-hf"></div>
      <div class="row">
        <button type="button" class="btn btn-secondary btn-borrar-usuario" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger btn-borrar-usuario" data-dismiss="modal" id="confirmDeleteButtonModal">Borrar</button>
      </div>
    </div>
  </div>
</div>
